// 1. Hero Section Styles
.hero-section {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/images/hero1.jpg');

}


.feature-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;

    .icon-wrapper {
        width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.3s ease;
        }
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;

        .icon-wrapper img {
            transform: scale(1.1);
        }
    }
}
