.ai-fab-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  border: none;
  font-size: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.ai-chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 15px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideUp 0.3s ease-out;


  .chat-header {
    background: #0d6efd;
    color: white;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }

  .chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f8f9fa;
  }

  .chat-footer {
    padding: 10px;
    background: white;
    border-top: 1px solid #eee;
  }
}

.result-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border: 1px solid #eee;
  font-size: 0.9rem;
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 480px) {
  .ai-chat-window {
    width: 90%;
    right: 5%;
    bottom: 90px;
  }
}

.suggestions-wrapper {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  .chip-btn {
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 0.8rem;
    color: #555;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #e2e6ea;
      color: #0d6efd;
      border-color: #0d6efd;
    }
  }

  .more-btn {
    background: transparent;
    border: 1px dashed #ccc;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 0.75rem;
    color: #0d6efd;
    cursor: pointer;

    &:hover {
      background-color: #e9ecef;
    }
  }
}

.bot-msg-bubble {
  background-color: #dddada;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  border: #bfbaba 1px solid;
  line-height: 1.5;
  b,strong
{
    color: #0d6efd;
    font-weight: 700;
  }

  ul {
    margin: 5px 0;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
}

.user-msg-bubble{
  padding: 2px;
   background-color: #dbd7d7;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  border: #bfbaba 1px solid;
}
