<div class="form-floating mb-3">
  <input
    [type]="type"
    class="form-control"
    [id]="label"
    [placeholder]="label"
    [formControl]="control"
    [class.is-invalid]="control.touched && control.invalid"
  />

  <label [for]="label">{{ label }}</label>

  @if (control.status === 'PENDING') {
  <div class="fa fa-spinner fa-spin loader"></div>
  } @if (control.errors?.['required']) {
  <div class="invalid-feedback">{{ label }} is required</div>
  } @if (control.errors?.['email']) {
  <div class="invalid-feedback">Invalid email address</div>
  } @if (control.errors?.['minlength']) {
  <div class="invalid-feedback">
    Must be at least {{ control.errors?.['minlength'].requiredLength }} characters
  </div>
  } @if (control.errors?.['pattern']) {
  <div class="invalid-feedback text-start">Password is not complex enough</div>
  }
</div>
